[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=sdz
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=SDZ
Comment=Tools to speed up workflow with SDZ.